@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rajdhani:wght@300;400;500;600;700&display=swap');



/* * {
  outline: 2px solid red;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f7;
}

/* navbar */
 header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
 }

 .color-logo1 {
  color: #A2904E;
}

 header .brand1 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
 }


 .navigation1-items1{
  display: flex;
  align-items: center;
 }
  
header .navigation1 {
  position: relative;
 
  
 }

 header .navigation1 .navigation1-items1 a{
  position: relative;
  color: #e2cf83;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 } 
 header .navigation1 .navigation1-items1 a:before{
  content: '';
  position: absolute;
  background: #A2904E;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
 } 

 header .navigation1 .navigation1-items1 a:hover:before {
  width: 100%;
 }

section {
  padding: 100px 200px;
}
.button2 {
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
}

.button {
  width: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
}

.button-2 {
  color: #fff;
  border: 3px solid #F0A500;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(30deg, #F0A500 50%, transparent 50%);
  background-image: linear-gradient(30deg, #F0A500 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: #F0A500;
}

.enrlnow{
  width: 170px;
  background-color: transparent; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px;
  
}

.enrlnow i{
  line-height: 1;
}

.home1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #000; 
}

.home1:before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(34, 34, 35 , 0.5);
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home1 .content1{
  z-index: 888;
  color: #A2904E;
  width: 70%;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
  margin-top: 50px;
}
section .p-1 {
color: #FFBF00;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: normal;
font-family:Rajdhani, "Helvetica Neue", Helvetica;
}

/* animation h1 */
.tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
/* end of animation h1 */

/* animation p tag header */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* end of animation p tag */

.home1 .content1 h1 {
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  text-shadow: 0 0.3rem 0.5rem #000;
}
.home1 .content1 h1 span {
  font-size: 1.2em;
  font-weight:  600;
}
.home1 .content1  {
  margin-bottom: 65px;
}

.home1 .content1 a:hover {
  background: gold;
  transform: translateY(40px);
}



.home1 .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.home1 .media-icons a {
  color: #e2cf83;
  font-size: 2em;
  transition: 0.3s ease;
  text-shadow: 0 0.3rem 0.5rem #000;
}

.home1 .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home1 video {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home1 .media-icons a:hover {
  transform: scale(1.3);
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
    transition: 0.5s ease;
  }
  section{
    padding: 100px 20px;
  }
  .home1 .media-icons {
    right: 15px;
  }
  header .navigation1{
    display: none;
  }
  
  header .navigation1.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation1 .navigation1-items1 a{
    color: #A2904E;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation1 .navigation1-items1 a:before{
    background: #A2904E;
    height: 5px;
  }

  header .navigation1.active .navigation1-items1{
    background: #f5f5f7;
    width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .menu-btn{ 
    background: url(./assets/luxe-menu-50.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .menu-btn.active{
    z-index: 999;
    background: url(./assets/luxe-close-50.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}
/* end of navbar  */

/* Section 2 */
.sec-2 {
  padding: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sec-2 img {
  width: 250px;
  height: 250px;
  justify-content: end;
}
.sec-2 p {
color: #A2904E;
text-align: justify;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
font-family:Rajdhani, "Helvetica Neue", Helvetica;
}


/* End of Section 2 */

/* Section 3 */
.sec-3{
  padding: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sec-3 p {
  margin: 5px;
  font-weight: 700;
  color: #F0A500;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
}
.sec-3 h2 {
  color: #A2904E;
  font-weight: 800;
  font-size: 24px;
  line-height: normal;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
}
.sec-3 .line {
  width: 20%;
  border-top: 2px solid #A2904E;
}
/* card */
.sec-3 .card {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: #F4F4F4;
  width: 18rem;
}
.sec-3 .fill-color {
  position: absolute;
  bottom: 50%;
  width: 161px;
  height: 21px;
  background: #A2904E;
}
.sec-3 .fill-color h5{
  color: #F5F5F7;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  left: 5px;
}
.sec-3 .card-text {
  color: #A2904E;
  font-weight: 400;
line-height: normal;
}

.button-card {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
}

.button-2 {
  color: #fff;
  border: 2px solid #F0A500;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(30deg, #F0A500 50%, transparent 50%);
  background-image: linear-gradient(30deg, #F0A500 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: #F0A500;
}

/* card */

/* End of Section 3 */

/* section 4 */
.sec-4 {
  padding: 50px;
}
.sec-4 h2 {
  color: #A2904E;
  font-weight: 800;
  font-size: 24px;
  line-height: normal;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
}
.sec-4 .line {
  width: 20%;
  border-top: 2px solid #A2904E;
}
.sec-4 p, h4 {
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
}
.testimonial-container {
  background-color: #A2904E;
  color: #fff;
  border-radius: 5px;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-left {
  left: 40px;
}

.fa-quote-right {
  right: 40px;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
  border: #F0A500 2px solid;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  transform-origin: left;
  animation: grow 10s linear infinite;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  .fa-quote {
    display: none;
  }
}


/* End of section 4 */


/* section 5 */
.sec-5 {
  padding: 50px;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
  
 
}

.sec-5 .p-blog {
  color: #F0A500;
  font-size: 14px;
  font-weight: 700;
}
.sec-5 h2 {
  color: #A2904E;
  font-size: 24px;
  font-weight: 800;
}

.sec-5 .box-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sec-5 .p-desc {
  font-size: 14px;
  font-weight: 400;
  color: #1d1d1f;
}

.sec-5 .container-article {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.sec-5 .p-date {
  font-size: 12px;
  color: #F0A500;
}
.sec-5 .p-date span {
  color:#F0A500 ;
  font-weight: 600;
  padding: 5px;
}

.sec-5 a {
  text-decoration: none;
  font-size: 12px;
  color:#757575;
  font-weight: 500;
}
.sec-5 a:hover {
  color: #A2904E;
}

.sec-5 .card-text{
  color: #1d1d1f;
}


/* end of section 5 */

/* footer */
.contact-info {
  width: 100%;
  height: 77px;
  background:#A2904E;
}

.contact-info .pos-1 {
  transition: 0.5s ease;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
  color:#F5F5F7;
}

.contact-info h2 {
  margin-top: 20px;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
}
ul {
  
  padding: 0px;
}
.footer-section {
background: #f5f5f7;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #A2904E;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
font-family:Rajdhani, "Helvetica Neue", Helvetica;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
color: #7e7e7e;
line-height: 28px;
font-family:Rajdhani, "Helvetica Neue", Helvetica;
}
.footer-social-icon span {
color: #A2904E;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
font-family:Rajdhani, "Helvetica Neue", Helvetica;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
margin-left: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.tiktok-bg{
background: #1d1d1f;
}
.youtube-bg{
background: #FF0000;
}
.footer-widget-heading h3 {
color: #A2904E;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
position: relative;
font-family:Rajdhani, "Helvetica Neue", Helvetica;
}
.footer-widget h3 a {
  color: #A2904E;
  text-decoration: none;
  
}

.footer-widget h3 a:hover{
  color: #1d1d1f;
}

.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #A2904E;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}

.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}

.footer-menu li a {
font-size: 14px;
color: #878787;
}

.footer-section .footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  display:flex;
  place-items: center;
}

.icons a{
  text-align: center;
}

/* End of footer */










/*~~~~~~~~~~~~~~~~~~~~*/
/* 
*{
  outline: 1PX SOLID RED;
} */
.contact-info{
  display: flex;
  justify-content: center;
    
}
.wor{
  display: inline-flex;

  align-content: center; 
  justify-items:center;
  gap: 30px;

}

.wor h2, p{
  color: #f5f5f7;
}

.phone p, .email p {
  margin: 0;
  line-height: 1;
}

.phone, .email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.phone img, .email img {
  vertical-align: middle;
}

.footer-widget-heading{
  display: grid;
  justify-content: center;
}

.phonecntcs {
  display: none;
  width: 200px;
  flex-direction: column;
  align-items: flex-start; /* This will align the child elements to the start */
}


.phonecntcs p {
  color: black;
}

.email1, .phone1 {
  display: flex;
  align-items: center;
  line-height: 10px;
  gap: 5px;
}

.phone1 p, .email1 p {
  font-size: 12px;
  margin: 0;
  line-height: 1;
  color: #A2904E;
  font-family:Rajdhani, "Helvetica Neue", Helvetica;
}

.phone1 img, .email1 img {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.ftrline{
  display: none;
}

.c-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel1{
  display: none;
}

.carousel2{
  display: none;
}
.carousel3{
  display: none;
 
}



@media (max-width: 1460px){
  header .navigation1 .navigation1-items1 a{
  font-size: 16px;
}
}

@media (max-width: 1366px){
  header .navigation1 .navigation1-items1 a{
  font-size: 14px;
}
  .sec-3 .container .row .col-md-3 .card{
    width: 16rem;
  }
}

@media (max-width: 1290px){
  header .navigation1 .navigation1-items1 a{
    font-size: 12.5px;
  }
  
  .button-2{
    width: 110px;
  }

  .enrlnow{
    width: 150px;
  }

  .herobtn{
    width: 170px;
  }
}

@media (max-width: 1152px){
  header .navigation1 .navigation1-items1 a{
  font-size: 11px;
}
  .sec-3 .container .row .col-md-3 .card{
    width: 14rem;
  }
}




/* QUERY FOR TABLET */
@media (max-width: 900px) {

.sec-3{
  display: none;
  box-shadow: none
}

.carousel1{
  display: initial;
}

.navigation1 .active .button2{
  margin-bottom: 10px;
  margin-left: 0;
 }

 .sec-5{
  display: none;
}

.carousel3{
  display: initial;
}

}

/* 1284×2778 pixels at 460ppi */
@media only screen and (max-width: 430px) and (max-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .carousel1{
    display: none;
  }

  .carousel2{
    display: initial;
  }


 

    .carousel3{
    display: initial;
  }

 
  .cnt{
    font-size: 16px;
  }
  
 
 .sec-2 .container .row .d-flex img{
  width: 180px;
  height: auto;
 }

  .sec2 {
   text-align: center;
  }
  
  .home1 .content1 h1 {
    font-size: 46px;
    line-height: 40px;
  }

  .navigation1-items1{
    line-height: 0px;

  }

  .wor{
    gap: 10px;
    justify-content: center;
    align-items:center ;
  }

  .wor h2{
    font-size: 16px;
    margin: 0;
    line-height: 1;
     font-weight: 600;
  
  }

  .contact-info{
    display: none;
  }

  .phonecntcs{
    display: flex;
  }

  .ftrline{
    display: flex;
  }


  .phone p, .email p {
   font-size: 12px;
  }
  
  .phone, .email {
   display: block;
   text-align: center;
  }
  
  .phone img, .email img {
    width: 30px;
    height: auto;
  }

  .footer-section .usefullinks{
    margin-top: 15px;
  }

}


/* QUERY FOR PHONES */
@media (max-width: 500px){

  .carousel1{
    display: none;
  }

  .carousel2{
    display: initial;
  }


 

    .carousel3{
    display: initial;
  }

 
  .cnt{
    font-size: 16px;
  }
  
 
 .sec-2 .container .row .d-flex img{
  width: 180px;
  height: auto;
 }

  .sec2 {
   text-align: center;
  }
  
  .home1 .content1 h1 {
    font-size: 46px;
    line-height: 40px;
  }

  .navigation1-items1{
    line-height: 0px;

  }

  .wor{
    gap: 10px;
    justify-content: center;
    align-items:center ;
  }

  .wor h2{
    font-size: 16px;
    margin: 0;
    line-height: 1;
     font-weight: 600;
  
  }

  .contact-info{
    display: none;
  }

  .phonecntcs{
    display: flex;
  }

  .ftrline{
    display: flex;
  }


  .phone p, .email p {
   font-size: 12px;
  }
  
  .phone, .email {
   display: block;
   text-align: center;
  }
  
  .phone img, .email img {
    width: 30px;
    height: auto;
  }

  .footer-section .usefullinks{
    margin-top: 15px;
  }












}

/* ON SCROLL ANIMATION*/
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

